@import url('https://fonts.googleapis.com/css?family=Raleway');


/*General*/
*{
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, p, body, header{
    font-family: 'Raleway', sans-serif;
    font-style: unset;
    padding: 1%;
}

body{
    width: auto;
    background-color: #58A0E8;
    padding: 2%;
    color: white;
}

main img{
    border-radius: 100%;
    width: 35%;
    height: auto;
}

main ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

main li{
    text-align: center;
    display: inline;
    padding: 1%;
    margin: 2%;
    border-style: solid;
    border-width: medium; 
    border-radius: 10%;
}

/*Desktops*/
@media only screen and (min-width: 769px) {
    body{
        background: url("../img/background1.JPG");
        background-size: cover;
        /* background-repeat: repeat;
        -webkit-animation: mymove 20s infinite; 
        animation: mymove 20s infinite; */
    }

    main{
        width: 40%;
        height: auto;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(84, 104, 185, 0.1);
        padding: 1%;
        color: white;
    }

    main img{
        height: auto;
        width: auto;
    }

    main li:hover{
        color: #154474;
    }

    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mymove {
        from {background: url("../img/background1.JPG") 100%;}
        to {background: url("../img/background2.JPG") 100%;}
    }

    /* Standard syntax */
    @keyframes mymove {
        from {background: url("../img/background1.JPG");}
        to {background: url("../img/background2.JPG");}
    }

}