@import url('https://fonts.googleapis.com/css?family=Raleway');


/*General*/
*{
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, p, body, header{
    font-family: 'Raleway', sans-serif;
    font-style: unset;
    padding: 1%;
    margin: 0%;
}

a{
    color: white;
    text-decoration: none;
}

footer{
    position: absolute;
    bottom: 0;
    padding-top: 2%;
    font-size: 100%;
    text-align: center;
}

body{
    width: auto;
    background: url("../img/background1.JPG");
    background-size: 270%;
    background-repeat: no-repeat;
    padding: 0%; 
    margin: 0%;
    color: white;
}

main{
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    background-color: rgba(84, 104, 185, 0.3);
    padding: 1%;
    margin: 0%;
    color: white;
}

main img{
    position: relative;
    text-align: center;
    height: auto;
    width: auto;
    border-radius: 100%;
}

main li:hover{
    color: #154474;
}

main ul{
    padding: 2%;
    margin: 0;
    list-style: none;
    text-align: center;
}

main li{
    text-align: center;
    display: inline;
    padding: 1%;
    margin: 2%;
    border-style: solid;
    border-width: medium; 
    border-radius: 10%;
}

@media only screen and (min-width: 600px) and (orientation: portrait)
{
    body{
        background-size: 340%;
    }
    
    main{
        width: 40%;
        height: auto;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(84, 104, 185, 0.1);
        padding: 1%;
        color: white;
    }

    main img{
        height: auto;
        width: auto;
    }

    main li:hover{
        color: #154474;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape){
    body{
        background: url("../img/background1.JPG");
        background-size: 115%;
        background-repeat: no-repeat;
    }

    main{
        width: 40%;
        height: auto;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(84, 104, 185, 0.1);
        padding: 1%;
        color: white;
    }

    main img{
        height: auto;
        width: auto;
    }

    main li:hover{
        color: #154474;
    }
}